service cloud.firestore {
  match /databases/{database}/documents {
  	function isOwner(userId) {
      return request.auth.uid == userId
    }
		// match /privateUserData/{userId} {
		// allow read, write: if isOwner(userId);
		// }

    match /{document=**} {
      allow read, write: if request.auth.uid != null;
    }
    // match /users/{userId} {
    //     allow read: if request.auth.uid == userId;
    //     allow delete, update: if request.auth.uid == userId;
    //     allow create: if request.auth.uid != null;
    // }
  }
}
