service firebase.storage {
  match /b/{bucket}/o {
  	match /chat/{chatID}/{fileID} {
        allow read;
        allow write: if request.resource.size < 5 * 1024 * 1024;
      }
    match /images {
			match /{allImages=**} {
        allow read;
      }
			match /{userId}/{imageId} {
        allow read;
        allow write: if request.auth.uid == userId && request.resource.size < 5 * 1024 * 1024 && request.resource.contentType.matches('image/.*');
      }
		}
  }
}
