p {
  margin: 0px;
  white-space: "pre-line";
  word-wrap: "break-word";
  word-break: "break-all";
  overflow-wrap: "break-word";
  margin: 3px 0px;
}
h1 {
  margin: 0px;
}
h2 {
  margin: 0px;
}
h3 {
  margin: 0px;
}
h4 {
  margin: 0px;
}
h5 {
  margin: 0px;
}

h6 {
  margin: 0px;
}

pre {
  margin: 0px;
  padding: 10px !important;
  background-color: #eeeeee !important;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
}
