/*
  Only use this if you need to apply overarching style changes to the app.
  Otherwise use component level styles or material theme styles
*/

body {
  margin: 0;
  padding: 0;
  font-family: roboto;
  height: 100%;
  overflow: hidden;
}

html,
body,
#app,
#app > div {
  height: 100%;
}

#root {
  height: 100%;
  overflow: hidden;
}

.App {
  height: 100%;
  overflow: hidden;
}

h1 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 500;
}
